.landing {
    background: url('../../assets/images/landing.jpg');
    width: 100%;
    height: 100%;
}

.next {
    position: absolute;
    left: 48%;
    top: 60%;
}

.next:hover {
    color: grey;
    box-shadow: 1px 1px;
}